/* back.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('./login&signup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-background {
    background-image: url('./navimage.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.8); /* Light whitish background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
